
# Eclipse stuff
/.classpath
/.project
/.settings

# Mac filesystem dust
/.DS_Store
src/qt/.DS_Store
contrib/.DS_Store

# log
debug.log

# python
*.pyc

.gitignore
*.sublime-project
*.sublime-workspace
todo.txt
reset-files.bash

*.tar.gz

*.exe
src/vitae
src/vitaed
src/vitae-cli
src/vitae-tx
src/test/test_vitae
src/qt/test/test_vitae-qt

# autoreconf
Makefile.in
aclocal.m4
autom4te.cache/
build-aux/config.guess
build-aux/config.sub
build-aux/depcomp
build-aux/install-sh
build-aux/ltmain.sh
build-aux/m4/libtool.m4
build-aux/m4/lt~obsolete.m4
build-aux/m4/ltoptions.m4
build-aux/m4/ltsugar.m4
build-aux/m4/ltversion.m4
build-aux/missing
build-aux/compile
build-aux/test-driver
config.log
config.status
configure
confdefs.h
conftest.cpp
conftest.err
libtool
src/config/vitae-config.h
src/config/vitae-config.h.in
src/config/stamp-h1
share/setup.nsi
share/qt/Info.plist
contrib/devtools/split-debug.sh

src/univalue/*
src/leveldb/build_config.mk

src/qt/*.moc
src/qt/moc_*.cpp
src/qt/forms/ui_*.h

src/qt/test/moc*.cpp

.deps
.dirstamp
.libs
.*.swp
*.*~*
*.bak
*.rej
*.orig
*.pyc
*.o
*.o-*
*.patch
.vitae
*.a
*.pb.cc
*.pb.h

*.log
*.trs
*.dmg

*.json.h
*.raw.h

#libtool object files
*.lo
*.la

# Compilation and Qt preprocessor part
*.qm
Makefile
greenpaycoin-qt
greenpaycoin-Qt.app
background.tiff*

# Unit-tests
Makefile.test
vitae-qt_test
src/test/buildenv.py

# Resources cpp
qrc_*.cpp

# Qt creator
*.pro.user

# Mac specific
.DS_Store
build

#lcov
*.gcno
/*.info
test_vitae.coverage/
total.coverage/
coverage_percent.txt

#build tests
linux-coverage-build
linux-build
win32-build
test/config.ini
test/cache/*
qa/pull-tester/run-bitcoind-for-test.sh
qa/pull-tester/tests-config.sh
qa/pull-tester/cache/*
qa/pull-tester/test.*/*

!src/leveldb*/Makefile

.cproject
.project
/doc/doxygen/
/nbproject/
libbitcoinconsensus.pc
.idea
CMakeLists.txt
cmake-build-debug

greenpaycoin-qt.pro
src/Makefile
src/libbitcoin_server_a-rpcblockchain-94d8bc73.o.tmp
src/config/GreenPayCoin-config.h
src/.deps/libbitcoin_server_a-rest.Po
src/.deps/libbitcoin_server_a-pow.Po
src/.deps/libbitcoin_server_a-noui.Po
src/.deps/libbitcoin_server_a-net.Po
src/.deps/libbitcoin_server_a-miner.Po
src/.deps/libbitcoin_server_a-merkleblock.Po
src/.deps/libbitcoin_server_a-main.Po
src/.deps/libbitcoin_server_a-leveldbwrapper.Po
src/.deps/libbitcoin_server_a-init.Po
src/.deps/libbitcoin_server_a-checkpoints.Po
src/.deps/libbitcoin_server_a-chain.Po
src/.deps/libbitcoin_server_a-bloom.Po
src/.deps/libbitcoin_server_a-alert.Po
src/.deps/libbitcoin_server_a-addrman.Po
src/.deps/GreenPayCoind-GreenPayCoind.Po
share/setup.nsi
qa/pull-tester/tests-config.sh
qa/pull-tester/run-bitcoind-for-test.sh
Makefile
libtool
config.status
config.log
autom4te.cache/requests
*.Po
*.Po
*.a
*.nsi
src/qt/.deps/libbitcoinqt_a-zGreenPayCoincontroldialog.Po
src/qt/.deps/libbitcoinqt_a-walletview.Po
src/qt/.deps/libbitcoinqt_a-walletmodeltransaction.Po
src/qt/.deps/libbitcoinqt_a-walletmodel.Po
src/qt/.deps/libbitcoinqt_a-walletframe.Po
src/qt/.deps/libbitcoinqt_a-utilitydialog.Po
src/qt/.deps/libbitcoinqt_a-transactionview.Po
src/qt/.deps/libbitcoinqt_a-transactiontablemodel.Po
src/qt/.deps/libbitcoinqt_a-transactionrecord.Po
src/qt/.deps/libbitcoinqt_a-transactionfilterproxy.Po
src/qt/.deps/libbitcoinqt_a-transactiondescdialog.Po
src/qt/.deps/libbitcoinqt_a-transactiondesc.Po
src/qt/.deps/libbitcoinqt_a-trafficgraphwidget.Po
src/qt/.deps/libbitcoinqt_a-splashscreen.Po
src/qt/.deps/libbitcoinqt_a-signverifymessagedialog.Po
src/qt/.deps/libbitcoinqt_a-sendcoinsentry.Po
src/qt/.deps/libbitcoinqt_a-sendcoinsdialog.Po
src/qt/.deps/libbitcoinqt_a-rpcconsole.Po
src/qt/.deps/libbitcoinqt_a-recentrequeststablemodel.Po
src/qt/.deps/libbitcoinqt_a-receiverequestdialog.Po
src/qt/.deps/libbitcoinqt_a-receivecoinsdialog.Po
src/qt/.deps/libbitcoinqt_a-qvaluecombobox.Po
src/qt/.deps/libbitcoinqt_a-qvalidatedlineedit.Po
src/qt/.deps/libbitcoinqt_a-privacydialog.Po
src/qt/.deps/libbitcoinqt_a-platformstyle.Po
src/qt/.deps/libbitcoinqt_a-peertablemodel.Po
src/qt/.deps/libbitcoinqt_a-paymentserver.Po
src/qt/.deps/libbitcoinqt_a-paymentrequestplus.Po
src/qt/.deps/libbitcoinqt_a-paymentrequest.pb.Po
src/qt/.deps/libbitcoinqt_a-overviewpage.Po
src/qt/.deps/libbitcoinqt_a-optionsmodel.Po
src/qt/.deps/libbitcoinqt_a-optionsdialog.Po
src/qt/.deps/libbitcoinqt_a-openuridialog.Po
src/qt/.deps/libbitcoinqt_a-obfuscationconfig.Po
src/qt/.deps/libbitcoinqt_a-notificator.Po
src/qt/.deps/libbitcoinqt_a-networkstyle.Po
src/qt/.deps/libbitcoinqt_a-multisigdialog.Po
src/qt/.deps/libbitcoinqt_a-multisenddialog.Po
src/qt/.deps/libbitcoinqt_a-moc_zGreenPayCoincontroldialog.Po
src/qt/.deps/libbitcoinqt_a-moc_walletview.Po
src/qt/.deps/libbitcoinqt_a-moc_walletmodel.Po
src/qt/.deps/libbitcoinqt_a-moc_walletframe.Po
src/qt/.deps/libbitcoinqt_a-moc_utilitydialog.Po
src/qt/.deps/libbitcoinqt_a-moc_transactionview.Po
src/qt/.deps/libbitcoinqt_a-moc_transactiontablemodel.Po
src/qt/.deps/libbitcoinqt_a-moc_transactionfilterproxy.Po
src/qt/.deps/libbitcoinqt_a-moc_transactiondescdialog.Po
src/qt/.deps/libbitcoinqt_a-moc_transactiondesc.Po
src/qt/.deps/libbitcoinqt_a-moc_trafficgraphwidget.Po
src/qt/.deps/libbitcoinqt_a-moc_splashscreen.Po
src/qt/.deps/libbitcoinqt_a-moc_signverifymessagedialog.Po
src/qt/.deps/libbitcoinqt_a-moc_sendcoinsentry.Po
src/qt/.deps/libbitcoinqt_a-moc_sendcoinsdialog.Po
src/qt/.deps/libbitcoinqt_a-moc_rpcconsole.Po
src/qt/.deps/libbitcoinqt_a-moc_recentrequeststablemodel.Po
src/qt/.deps/libbitcoinqt_a-moc_receiverequestdialog.Po
src/qt/.deps/libbitcoinqt_a-moc_receivecoinsdialog.Po
src/qt/.deps/libbitcoinqt_a-moc_qvaluecombobox.Po
src/qt/.deps/libbitcoinqt_a-moc_qvalidatedlineedit.Po
src/qt/.deps/libbitcoinqt_a-moc_privacydialog.Po
src/qt/.deps/libbitcoinqt_a-moc_peertablemodel.Po
src/qt/.deps/libbitcoinqt_a-moc_paymentserver.Po
src/qt/.deps/libbitcoinqt_a-moc_overviewpage.Po
src/qt/.deps/libbitcoinqt_a-moc_optionsmodel.Po
src/qt/.deps/libbitcoinqt_a-moc_optionsdialog.Po
src/qt/.deps/libbitcoinqt_a-moc_openuridialog.Po
src/qt/.deps/libbitcoinqt_a-moc_obfuscationconfig.Po
src/qt/.deps/libbitcoinqt_a-moc_notificator.Po
src/qt/.deps/libbitcoinqt_a-moc_multisigdialog.Po
src/qt/.deps/libbitcoinqt_a-moc_multisenddialog.Po
src/qt/.deps/libbitcoinqt_a-moc_masternodelist.Po
src/qt/.deps/libbitcoinqt_a-moc_macnotificationhandler.Po
src/qt/.deps/libbitcoinqt_a-moc_macdockiconhandler.Po
src/qt/.deps/libbitcoinqt_a-moc_intro.Po
src/qt/.deps/libbitcoinqt_a-moc_guiutil.Po
src/qt/.deps/libbitcoinqt_a-moc_editaddressdialog.Po
src/qt/.deps/libbitcoinqt_a-moc_csvmodelwriter.Po
src/qt/.deps/libbitcoinqt_a-moc_coincontroltreewidget.Po
src/qt/.deps/libbitcoinqt_a-moc_coincontroldialog.Po
src/qt/.deps/libbitcoinqt_a-moc_clientmodel.Po
src/qt/.deps/libbitcoinqt_a-moc_blockexplorer.Po
src/qt/.deps/libbitcoinqt_a-moc_bitcoinunits.Po
src/qt/.deps/libbitcoinqt_a-moc_bitcoingui.Po
src/qt/.deps/libbitcoinqt_a-moc_bitcoinamountfield.Po
src/qt/.deps/libbitcoinqt_a-moc_bitcoinaddressvalidator.Po
src/qt/.deps/libbitcoinqt_a-moc_bip38tooldialog.Po
src/qt/.deps/libbitcoinqt_a-moc_askpassphrasedialog.Po
src/qt/.deps/libbitcoinqt_a-moc_addresstablemodel.Po
src/qt/.deps/libbitcoinqt_a-moc_addressbookpage.Po
src/qt/.deps/libbitcoinqt_a-masternodelist.Po
src/qt/.deps/libbitcoinqt_a-intro.Po
src/qt/.deps/libbitcoinqt_a-guiutil.Po
src/qt/.deps/libbitcoinqt_a-editaddressdialog.Po
src/qt/.deps/libbitcoinqt_a-csvmodelwriter.Po
src/qt/.deps/libbitcoinqt_a-coincontroltreewidget.Po
src/qt/.deps/libbitcoinqt_a-coincontroldialog.Po
src/qt/.deps/libbitcoinqt_a-clientmodel.Po
src/qt/.deps/libbitcoinqt_a-blockexplorer.Po
src/qt/.deps/libbitcoinqt_a-bitcoinunits.Po
src/qt/.deps/libbitcoinqt_a-bitcoingui.Po
src/qt/.deps/libbitcoinqt_a-bitcoinamountfield.Po
src/qt/.deps/libbitcoinqt_a-bitcoinaddressvalidator.Po
src/qt/.deps/libbitcoinqt_a-bip38tooldialog.Po
src/qt/.deps/libbitcoinqt_a-askpassphrasedialog.Po
src/qt/.deps/libbitcoinqt_a-addresstablemodel.Po
src/qt/.deps/libbitcoinqt_a-addressbookpage.Po
src/qt/.deps/GreenPayCoin_qt-macnotificationhandler.Po
src/qt/.deps/GreenPayCoin_qt-macdockiconhandler.Po
src/qt/.deps/GreenPayCoin_qt-GreenPayCoin.Po
src/primitives/.deps/libbitcoin_wallet_a-zerocoin.Po
src/primitives/.deps/libbitcoin_common_a-zerocoin.Po
src/primitives/.deps/libbitcoin_common_a-transaction.Po
src/primitives/.deps/libbitcoin_common_a-block.Po
src/Makefile
src/libzerocoin/libbitcoin_zerocoin.a
src/libzerocoin/.deps/SerialNumberSignatureOfKnowledge.Po
src/libzerocoin/.deps/Params.Po
src/libzerocoin/.deps/ParamGeneration.Po
src/libzerocoin/.deps/Denominations.Po
src/libzerocoin/.deps/Commitment.Po
src/libzerocoin/.deps/CoinSpend.Po
src/libzerocoin/.deps/Coin.Po
src/libzerocoin/.deps/AccumulatorProofOfKnowledge.Po
src/libzerocoin/.deps/Accumulator.Po
src/GreenPayCoind
src/GreenPayCoin-tx
src/GreenPayCoin-cli
src/crypto/libbitcoin_crypto.a
src/crypto/.deps/libbitcoin_crypto_a-whirlpool.Po
src/crypto/.deps/libbitcoin_crypto_a-sph_sha2big.Po
src/crypto/.deps/libbitcoin_crypto_a-skein.Po
src/crypto/.deps/libbitcoin_crypto_a-simd.Po
src/crypto/.deps/libbitcoin_crypto_a-shavite.Po
src/crypto/.deps/libbitcoin_crypto_a-shabal.Po
src/crypto/.deps/libbitcoin_crypto_a-sha512.Po
src/crypto/.deps/libbitcoin_crypto_a-sha256.Po
src/crypto/.deps/libbitcoin_crypto_a-sha2.Po
src/crypto/.deps/libbitcoin_crypto_a-sha1.Po
src/crypto/.deps/libbitcoin_crypto_a-scrypt.Po
src/crypto/.deps/libbitcoin_crypto_a-ripemd160.Po
src/crypto/.deps/libbitcoin_crypto_a-rfc6979_hmac_sha256.Po
src/crypto/.deps/libbitcoin_crypto_a-luffa.Po
src/crypto/.deps/libbitcoin_crypto_a-keccak.Po
src/crypto/.deps/libbitcoin_crypto_a-jh.Po
src/crypto/.deps/libbitcoin_crypto_a-hmac_sha512.Po
src/crypto/.deps/libbitcoin_crypto_a-hmac_sha256.Po
src/crypto/.deps/libbitcoin_crypto_a-haval.Po
src/crypto/.deps/libbitcoin_crypto_a-hamsi.Po
src/crypto/.deps/libbitcoin_crypto_a-groestl.Po
src/crypto/.deps/libbitcoin_crypto_a-fugue.Po
src/crypto/.deps/libbitcoin_crypto_a-echo.Po
src/crypto/.deps/libbitcoin_crypto_a-cubehash.Po
src/crypto/.deps/libbitcoin_crypto_a-bmw.Po
src/crypto/.deps/libbitcoin_crypto_a-blake.Po
src/crypto/.deps/libbitcoin_crypto_a-aes_helper.Po
src/config/GreenPayCoin-config.h
src/compat/.deps/libbitcoin_util_a-strnlen.Po
src/compat/.deps/libbitcoin_util_a-glibcxx_sanity.Po
src/compat/.deps/libbitcoin_util_a-glibc_sanity.Po
src/.deps/libbitcoin_wallet_a-walletdb.Po
src/.deps/libbitcoin_wallet_a-wallet_ismine.Po
src/.deps/libbitcoin_wallet_a-wallet.Po
src/.deps/libbitcoin_wallet_a-swifttx.Po
src/.deps/libbitcoin_wallet_a-rpcwallet.Po
src/.deps/libbitcoin_wallet_a-rpcdump.Po
src/.deps/libbitcoin_wallet_a-obfuscation.Po
src/.deps/libbitcoin_wallet_a-obfuscation-relay.Po
src/.deps/libbitcoin_wallet_a-masternodeman.Po
src/.deps/libbitcoin_wallet_a-masternodeconfig.Po
src/.deps/libbitcoin_wallet_a-masternode.Po
src/.deps/libbitcoin_wallet_a-masternode-sync.Po
src/.deps/libbitcoin_wallet_a-masternode-payments.Po
src/.deps/libbitcoin_wallet_a-masternode-budget.Po
src/.deps/libbitcoin_wallet_a-kernel.Po
src/.deps/libbitcoin_wallet_a-denomination_functions.Po
src/.deps/libbitcoin_wallet_a-db.Po
src/.deps/libbitcoin_wallet_a-crypter.Po
src/.deps/libbitcoin_wallet_a-bip38.Po
src/.deps/libbitcoin_wallet_a-activemasternode.Po
src/.deps/libbitcoin_util_a-utiltime.Po
src/.deps/libbitcoin_util_a-utilstrencodings.Po
src/.deps/libbitcoin_util_a-utilmoneystr.Po
src/.deps/libbitcoin_util_a-util.Po
src/.deps/libbitcoin_util_a-uint256.Po
src/.deps/libbitcoin_util_a-sync.Po
src/.deps/libbitcoin_util_a-rpcprotocol.Po
src/.deps/libbitcoin_util_a-random.Po
src/.deps/libbitcoin_util_a-clientversion.Po
src/.deps/libbitcoin_util_a-chainparamsbase.Po
src/.deps/libbitcoin_util_a-allocators.Po
src/.deps/libbitcoin_server_a-validationinterface.Po
src/.deps/libbitcoin_server_a-txmempool.Po
src/.deps/libbitcoin_server_a-txdb.Po
src/.deps/libbitcoin_server_a-torcontrol.Po
src/.deps/libbitcoin_server_a-timedata.Po
src/.deps/libbitcoin_server_a-sporkdb.Po
src/.deps/libbitcoin_server_a-rpcserver.Po
src/.deps/libbitcoin_server_a-rpcrawtransaction.Po
src/.deps/libbitcoin_server_a-rpcnet.Po
src/.deps/libbitcoin_server_a-rpcmisc.Po
src/.deps/libbitcoin_server_a-rpcmining.Po
src/.deps/libbitcoin_server_a-rpcmasternode.Po
src/.deps/libbitcoin_server_a-rpcmasternode-budget.Po
src/.deps/libbitcoin_server_a-rpcblockchain.Po
src/.deps/libbitcoin_server_a-rest.Po
src/.deps/libbitcoin_server_a-pow.Po
src/.deps/libbitcoin_server_a-noui.Po
src/.deps/libbitcoin_server_a-net.Po
src/.deps/libbitcoin_server_a-miner.Po
src/.deps/libbitcoin_server_a-merkleblock.Po
src/.deps/libbitcoin_server_a-main.Po
src/.deps/libbitcoin_server_a-leveldbwrapper.Po
src/.deps/libbitcoin_server_a-init.Po
src/.deps/libbitcoin_server_a-checkpoints.Po
src/.deps/libbitcoin_server_a-chain.Po
src/.deps/libbitcoin_server_a-bloom.Po
src/.deps/libbitcoin_server_a-alert.Po
src/.deps/libbitcoin_server_a-addrman.Po
src/.deps/libbitcoin_common_a-sporkdb.Po
src/.deps/libbitcoin_common_a-spork.Po
src/.deps/libbitcoin_common_a-pubkey.Po
src/.deps/libbitcoin_common_a-protocol.Po
src/.deps/libbitcoin_common_a-netbase.Po
src/.deps/libbitcoin_common_a-keystore.Po
src/.deps/libbitcoin_common_a-key.Po
src/.deps/libbitcoin_common_a-hash.Po
src/.deps/libbitcoin_common_a-ecwrapper.Po
src/.deps/libbitcoin_common_a-eccryptoverify.Po
src/.deps/libbitcoin_common_a-core_write.Po
src/.deps/libbitcoin_common_a-core_read.Po
src/.deps/libbitcoin_common_a-compressor.Po
src/.deps/libbitcoin_common_a-coins.Po
src/.deps/libbitcoin_common_a-chainparams.Po
src/.deps/libbitcoin_common_a-bip38.Po
src/.deps/libbitcoin_common_a-base58.Po
src/.deps/libbitcoin_common_a-amount.Po
src/.deps/libbitcoin_common_a-allocators.Po
src/.deps/libbitcoin_common_a-accumulators.Po
src/.deps/libbitcoin_common_a-accumulatormap.Po
src/.deps/libbitcoin_cli_a-rpcclient.Po
src/.deps/GreenPayCoind-GreenPayCoind.Po
src/.deps/GreenPayCoin_tx-GreenPayCoin-tx.Po
src/.deps/GreenPayCoin_cli-GreenPayCoin-cli.Po
share/setup.nsi
qa/pull-tester/tests-config.sh
qa/pull-tester/run-bitcoind-for-test.sh
Makefile
libtool
config.status
config.log
autom4te.cache/requests
src/univalue/libbitcoin_univalue.a
src/univalue/.deps/univalue_write.Po
src/univalue/.deps/univalue_read.Po
src/univalue/.deps/univalue.Po
src/test/test_GreenPayCoin
src/test/.deps/test_GreenPayCoin-zerocoin_transactions_tests.Po
src/test/.deps/test_GreenPayCoin-zerocoin_implementation_tests.Po
src/test/.deps/test_GreenPayCoin-zerocoin_denomination_tests.Po
src/test/.deps/test_GreenPayCoin-wallet_tests.Po
src/test/.deps/test_GreenPayCoin-util_tests.Po
src/test/.deps/test_GreenPayCoin-univalue_tests.Po
src/test/.deps/test_GreenPayCoin-uint256_tests.Po
src/test/.deps/test_GreenPayCoin-tutorial_zerocoin.Po
src/test/.deps/test_GreenPayCoin-transaction_tests.Po
src/test/.deps/test_GreenPayCoin-torcontrol_tests.Po
src/test/.deps/test_GreenPayCoin-timedata_tests.Po
src/test/.deps/test_GreenPayCoin-test_GreenPayCoin.Po
src/test/.deps/test_GreenPayCoin-skiplist_tests.Po
src/test/.deps/test_GreenPayCoin-sigopcount_tests.Po
src/test/.deps/test_GreenPayCoin-sighash_tests.Po
src/test/.deps/test_GreenPayCoin-serialize_tests.Po
src/test/.deps/test_GreenPayCoin-scriptnum_tests.Po
src/test/.deps/test_GreenPayCoin-script_tests.Po
src/test/.deps/test_GreenPayCoin-script_P2SH_tests.Po
src/test/.deps/test_GreenPayCoin-sanity_tests.Po
src/test/.deps/test_GreenPayCoin-rpc_wallet_tests.Po
src/test/.deps/test_GreenPayCoin-rpc_tests.Po
src/test/.deps/test_GreenPayCoin-pmt_tests.Po
src/test/.deps/test_GreenPayCoin-netbase_tests.Po
src/test/.deps/test_GreenPayCoin-multisig_tests.Po
src/test/.deps/test_GreenPayCoin-mruset_tests.Po
src/test/.deps/test_GreenPayCoin-mempool_tests.Po
src/test/.deps/test_GreenPayCoin-main_tests.Po
src/test/.deps/test_GreenPayCoin-libzerocoin_tests.Po
src/test/.deps/test_GreenPayCoin-key_tests.Po
src/test/.deps/test_GreenPayCoin-hash_tests.Po
src/test/.deps/test_GreenPayCoin-getarg_tests.Po
src/test/.deps/test_GreenPayCoin-DoS_tests.Po
src/test/.deps/test_GreenPayCoin-crypto_tests.Po
src/test/.deps/test_GreenPayCoin-compress_tests.Po
src/test/.deps/test_GreenPayCoin-coins_tests.Po
src/test/.deps/test_GreenPayCoin-Checkpoints_tests.Po
src/test/.deps/test_GreenPayCoin-checkblock_tests.Po
src/test/.deps/test_GreenPayCoin-benchmark_zerocoin.Po
src/test/.deps/test_GreenPayCoin-base64_tests.Po
src/test/.deps/test_GreenPayCoin-base58_tests.Po
src/test/.deps/test_GreenPayCoin-base32_tests.Po
src/test/.deps/test_GreenPayCoin-allocator_tests.Po
src/test/.deps/test_GreenPayCoin-accounting_tests.Po
src/script/.deps/libbitcoin_server_a-sigcache.Po
src/script/.deps/libbitcoin_common_a-standard.Po
src/script/.deps/libbitcoin_common_a-sign.Po
src/script/.deps/libbitcoin_common_a-script.Po
src/script/.deps/libbitcoin_common_a-interpreter.Po
src/qt/test/test_GreenPayCoin-qt
src/qt/test/.deps/test_GreenPayCoin_qt-uritests.Po
src/qt/test/.deps/test_GreenPayCoin_qt-test_main.Po
src/qt/test/.deps/test_GreenPayCoin_qt-paymentservertests.Po
src/qt/test/.deps/test_GreenPayCoin_qt-moc_uritests.Po
src/qt/test/.deps/test_GreenPayCoin_qt-moc_paymentservertests.Po
